# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.wasm

# Jupyter
.ipynb_checkpoints/

# Generated kernelspec
share/jupyter/kernels/xoctave/kernel.json

# Octave specific
octave-workspace

# Python
__pycache__
.pytest_cache

# Build directory
build/

bld
compile_commands.json
.cache